
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.6;
}


header {
  background: #E2D9C8;
  padding: 15px 20px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #444;
  cursor: pointer;
}

.logo span {
  color: #6d4c41;
}

.nav-links {

  display: flex;
  gap: 30px;
  font-weight: 500;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  
}

.nav-links a:hover{
  font-weight: bold;
  transition: color 0.9s  ease;
}

.nav-icons a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  align-items: center;
  margin-bottom: 0px;
}

.search-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: #30261C;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }


  .nav-toggle-label {
    display: block;
    margin: 10px auto;
  }

  .nav-links,
  .nav-icons {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .nav-toggle:checked ~ .nav-links,
  .nav-toggle:checked ~ .nav-icons {
    display: flex;
  }

 
  .nav-links a,
  .nav-icons a {
    display: block;
    padding: 10px;
    background: #E2D9C8;
    border-radius: 5px;
  }

  .nav-links a:hover,
  .nav-icons a:hover {
    background: #30261C;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .logo img {
    height: 40px;   /* smaller logo */
  }

  .search-btn {
    font-size: 16px; /* slightly smaller */
    padding: 5px 8px;
  }
}


@media (max-width: 768px) {
  .logo img {
    height: 32px;   
  }

  .search-btn {
    font-size: 14px; 
    padding: 4px 6px;
  }
}



/* HERO SECTION */
.hero {
  background: url('PictureWebsite/chevanon.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 150px;  
  position: relative;
  padding-top: 10px;

}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.hero-text {
  position: relative;
  max-width: 500px;
  z-index: 1;
}

.hero .welcome {
color: #FFF;
font-family: 'Outfit', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.5px;
text-transform: uppercase;
margin-bottom: 10px;
}

.hero h1 {
color: #FFF;
font-family: "Playfair Display", serif;
font-size: 65px;
font-style: normal;
font-weight: 650;

line-height: 75px; 
max-width: 600px;
transition: background-color 0.3s ease, color 0.3s ease;
}

.hero h1:hover{
    text-decoration: underline;
    color: #FFF;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;


}

.hero .desc {
  margin-bottom: 70px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.75;
  max-width: 383px;
}

.learn-btn {
  padding: 12px 25px;
  background: #BEDAB0;
  border: none;
  color: #30261C;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.learn-btn:hover{
   background-color: #30261C;
   color:#FFF;
}

/* SPECIALS */
.specials {
  text-align: center;
  padding: 60px 30px;
}

.specials h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 15px;
}

#hs{
    width: 300px;
    margin: 0px auto 20px auto;
    border: 1px solid #30261C; 
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;  
  margin-bottom: 30px;
  margin-top: 50px;
  margin-right: 60px;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 110px;       
  margin: 50px 60px 30px 0;
}

.item {
  text-align: center;
  width: 250px;     
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;         
}

/* Circle + image wrapper */
.image-wrap {
  position: relative;
  width: 290px;     
  height: 290px;
  margin: 0 auto;  
}

/* Circle background */
.image-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(226, 217, 200, 0.6);
  z-index: 1;      
}


.image-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: transform 0.3s ease;
}

/* Hover zoom */
.image-wrap img:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Text styles */
.item h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.item p {
  font-size: 1rem;
  color: #333;
}


.order-btn {
  color: #30261C;
  background-color: #BEDAB0;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-left: 10px;

}

.order-btn:hover {
  background-color: #D8CBBA;
  border: 1px solid #30261C;
}


.see-menu {
  padding: 10px 35px;
  background: none;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #30261C;
}

.see-menu:hover {
  background-color: #30261C;
  color: white;
}



#break {
  display: flex;
  justify-content: center;
  gap: 168px;            
  background-color: #E2D9C8;
  padding: 30px 0;
  margin-bottom: 10px;
}

.icon-item {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;
}

.icon-item img {
  width: 80px;            
  height: 80px;
  margin-bottom: 10px;   
}

.icon-item p {
  font-size: 1rem;
  font-weight: 500;
  color: #30261C;
}



.events-section {
  text-align: center;
  padding: 60px 40px;
  
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 1px;
  font-family: 'Playfair Display', serif;
}

.section-line {
  width: 250px;
  margin: 0 auto 40px auto;
  border: 0.5px solid #30261C;
}




.events-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;          
  width: 100%;        
  margin: 90px auto;
}



.event-card {
  background-color: rgba(216, 203, 186, 0.35);
  border-radius: 20px;
  padding: 25px 20px 35px;  
  width: 440px;
  min-height: 560px;      
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover{
    transform: translateY(-30px);
}


.event-card h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: 700;
  max-width: 90%;           
  letter-spacing: 2px;
}


.event-card img {
  width: 370px;
  height: 260px;
  border-radius: 15px;
  margin: 0;               
}


.event-card p {
  font-size: 1rem;
  color: #30261C;
  line-height: 1.6;
  max-width: 90%;
  margin: 0 auto;
}


.learn-btn {
  margin-top: auto;          
  padding: 10px 25px;
  background-color: #BEDAB0;
  color: #30261C;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.learn-btn:hover {
  background-color: #D8CBBA;
}


#secondbreak{
  background-color: #E2D9C8;
  height: 310px;
  width: 100%;

}

.nav-linksevents {

  list-style: none;
  display: flex;
  gap: 30px;
  font-weight: 500;
}

.nav-linksevents a {
  text-decoration: none;
  color: #E2D9C8;
  font-weight: 500;
}


.promo-section {
  display: flex;
  align-items: center;
  background: #E2D9C8;
  gap: 150px;
}

.promo-image img {
  height: 250px;
  object-fit: contain;
  transform: scaleX(-1);
 
}


.promo-center h2 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #2b2b2b;
  font-family: 'Playfair Display', serif;
}

.promo-center .btn {
  background: #000;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
}

.promo-center .btn:hover{
  color: #D8CBBA;
  background-color: #6d4c41;
  border: solid 2px;
}


.promo-right {
  text-align: right;
  font-size: 15px;
  color: #30261C;
  line-height: 1.5;
}



.location-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 10%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(PictureWebsite/pexels-apgpotr-683039.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  gap: 40px;
}

.location-info h3{
  font-family: 'Playfair Display',serif;
  font-size: 40px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.location-info h2.logo-text {
  font-family: 'Poppins',sans-serif;
  font-size: 36px;

}




.location-info .btn {
  display: inline-block;
  margin-left: 200px;
  margin-top: 50px;
  background: #BEDAB0;
  color: #30261C;
  padding: 10px 50px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
  


}

.location-info p {
  text-align: right;
}

.location-info a {
  display: flex;
  justify-content: flex-end;
}


/* Testimonials */
.testimonials {
  text-align: center;
  padding: 60px 10%;
  background: #fafafa;
}

.testimonials h2{
  font-family: 'Playfair Display' , sans-serif;
  font-size: 30px;
}

#hrule{
    width: 200px;
    margin: 20px auto 20px auto;
    border: 1px solid #30261C; 
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.card {
  background: #E2D9C8;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: left;
  display: flex;
  border: 1px solid #7a6a5a;

}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  margin-right: 20px;
}

.author img {
  width: 60px;
  height: 55px;
  border-radius: 50%;
}

.stars {
  color: #f4b400;
  margin-top: 10px;
  font-size: 30px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dots span {
  width: 10px;
  height: 10px;
  background: #bbb;  
  border-radius: 50%;
  display: inline-block;
}


.dots span:nth-child(2) {
  background: #30261C;
}


/* Footer */
footer {
  background: #30261C;
  color: #fff;
  padding: 40px 10%;
  margin-top: 45px;
}

.footer-columns h3 {
  font-size: 30px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.footer-columns h4 {
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
}

.footer-columns a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-columns a:hover {
  color: #fff;
}

.newsletter {
  display: block;
  justify-content: center;
}

.newsletter form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.newsletter input {
  padding: 8px;
  border-radius: 20px;
  border: none;
  flex: 1;
}

.newsletter button {
  background: #BEDAB0;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  color: #30261C;
  cursor: pointer;

}

/*para responsive*/

@media (max-width: 1024px) {
  .footer-columns {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 30px 5%;
  }

  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .footer-columns h3 {
    font-size: 24px;
  }

  .footer-columns h4 {
    font-size: 18px;
  }

  .newsletter form {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter input,
  .newsletter button {
    width: 100%;
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .footer-columns {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .footer-columns h3 {
    font-size: 20px;
  }

  .footer-columns h4 {
    font-size: 16px;
  }

  .newsletter form {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter input,
  .newsletter button {
    width: 100%;
    border-radius: 20px;
  }
}




